.frase {
    text-align  :             center;
    color       :rgb(218, 218, 56);
    font-size   :               20px;
    padding     :               20px;
    line-height :               10px;
}

.titulo{
    text-align  :             center;
    color       :rgb(218, 218, 56);
    font-size   :               70px;
    padding     :               20px;
    line-height :               10px;
}

body {
    zoom: 75%;
    background-image: url("fondoSW.png");
    background-size: cover;
    background-attachment: fixed;
}


.barratareas {
  display:flex;
  position:realtive;
  margin: auto;
  background-color:rgb(218, 218, 56);

}

.tareas {
    border-right: black 5px solid;
    background-color:rgb(218, 218, 56);
    color:black;
    font-size   :         25px;
}

.tituloproducto {
    font-size   :               30px;
    color:black;
    height: 50px;
    width: 500px;
    background-color: rgb(218, 218, 56);
    text-align: center;
    vertical-align: middle;
}

.imagenproducto{
    height: 300px;
    width: 500px;
    max-width:100%;


}
.productos1{
    padding: 10px;
}
.productos2{

    padding: 10px;
  
}
.productos{

    display: flex;
    position: absolute ;
    top: 200px;
    right: 50px;
    left: 50px;
    justify-content: space-between;
}
