.frase {
    text-align  :       center;
    color       :     yellow;
    font-size   :         20px;
    padding     :         10px;
    line-height :         10px;
}

.titulo{
    text-align  :       center;
    color       :     yellow;
    font-size   :         50px;
    padding     :         10px;
    line-height :         10px;
}

body {
    zoom: 75%;
    background-image: url("fondoSW.png");
    background-size: cover;
    background-attachment: fixed;
}



body {
  background-color:#34495e;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  border: rgb(218, 218, 56) 10px solid;

}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border: black 5px solid;
}
.barra {
    border: black 5px solid;
    background-color:yellow;
    color:black;
}
.buscar {
    border: red 5px solid;
    padding:5px;
    background-color:yellow;
    color:black;

}